<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Main</title>
</head>
<body>

<h1>Main</h1>

<div>
    <button th:onclick="|location.href='@{/admin/rank}'|">Team Rank</button>
    <button th:onclick="|location.href='@{/admin/players/pogRank}'|">Player Rank</button>
</div>

<div>
    <button th:onclick="|location.href='@{/admin/teams/addTeamForm}'|">Add Team</button>
    <button th:onclick="|location.href='@{/admin/teams}'|">Team List</button>
</div>

<div>
    <button th:onclick="|location.href='@{/admin/players/addPlayerForm}'|">Add Player</button>
    <button th:onclick="|location.href='@{/admin/players}'|">Player List</button>
</div>

<div>
    <button th:onclick="|location.href='@{/admin/games/addGameForm}'|">Add Game</button>
    <button th:onclick="|location.href='@{/admin/games}'|">Game List</button>
</div>

</body>
</html>
