<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/listForm.css">
    <title>Game List</title>
</head>
<body>
<header>
    <a th:href="@{/admin/main}">Main</a>
</header>

<h1>Game List</h1>
<table>
    <thead>
    <tr>
        <th>Game Id</th>
        <th>Season</th>
        <th>Round</th>
        <th>Game State</th>
        <th>Team1</th>
        <th>Team2</th>
        <th>Team1's Points</th>
        <th>Team2's Points</th>
        <th>Game Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${games}">
        <td><a th:href="@{/admin/games/{gameId}(gameId=${game.game.id})}" th:text="${game.game.id}">경기</a></td>
        <td th:text="${game.season}">시즌</td>
        <td th:text="${game.round}">라운드</td>
        <td th:text="${game.gameState}">경기 상태</td>
        <td><a th:href="@{/admin/teams/{teamId}(teamId=${game.team1.id})}" th:text="${game.team1.name}">팀1</a></td>
        <td><a th:href="@{/admin/teams/{teamId}(teamId=${game.team2.id})}" th:text="${game.team2.name}">팀2</a></td>
        <td th:text="${game.team1_point}">팀1 점수</td>
        <td th:text="${game.team2_point}">팀2 점수</td>
        <td th:text="${game.game.date.startDate}">경기 날짜</td>
    </tr>
    </tbody>
</table>

<div>
    <button th:onclick="|location.href='@{/admin/games/addGameForm}'|">Add Game</button>
    <button th:onclick="|location.href='@{/admin/teams}'|">Team List</button>
</div>

</body>
</html>