<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team Detail</title>
</head>
<body>

<header>
    <a th:href="@{/admin/main}">Main</a>
</header>

<h1>Team Detail</h1>

<div>
    <p>Name: <span th:text="${team.name}"></span></p>
    <p>Head Coach: <span th:text="${team.headCoach}"></span></p>
    <p>Won: <span th:text="${team.won}"></span></p>
    <p>Lost: <span th:text="${team.lost}"></span></p>
    <p>Score: <span th:text="${team.score}"></span></p>
    <p>Detail URL: <a th:href="${team.detailUrl}" th:target="_blank">나무위키</a></p>
</div>

<h2>Assistant Coaches</h2>

<table>
    <tr>
        <th>Assistant Coach Name</th>
    </tr>
    <tr th:each="assistantCoach : ${assistantCoaches}">
        <td th:text="${assistantCoach.name}"></td>
    </tr>
</table>
<hr>
<div>
    <button th:onclick="|location.href='@{/admin/teams/{teamId}/updateScore(teamId=${team.id})}'|">Update Score</button>
    <button th:onclick="|location.href='@{/admin/teams}'|">Team List</button>
    <button th:onclick="|location.href='@{/admin/teams/{teamId}/delete(teamId=${team.id})}'|">Delete Team</button>
</div>

</body>
</html>
