<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team List</title>
    <style>
        table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #444444;
            padding: 10px;
        }
    </style>
</head>

<body>

<header>
    <a th:href="@{/admin/main}">Main</a>
</header>

<h1>Team List</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Head Coach</th>
        <th>Won</th>
        <th>Lost</th>
        <th>Score</th>
        <th>Detail URL</th>
    </tr>
    <tr th:each="team : ${teams}">
        <td> <a th:href="@{/admin/teams/{teamId}(teamId=${team.id})}" th:text="${team.name}">팀 이름</a></td>
        <td th:text="${team.headCoach}">감독</td>
        <td th:text="${team.won}">승 수</td>
        <td th:text="${team.lost}">패 수</td>
        <td th:text="${team.score}">득점</td>
        <td><a th:href="${team.detailUrl}" th:target="_blank" th:text="Details">나무위키</a></td>
    </tr>
</table>

<div>
    <button th:onclick="|location.href='@{/admin/teams/addTeamForm}'|">Add Team</button>
</div>

</body>
</html>
