* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 {
    flex-basis: 50%;
    padding: 0 15px;
}

fieldset {
    border: 1px solid #e9ecef;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}
