<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team List</title>
</head>

<body>

<header>
    <a href="/">Main</a>
</header>

<h1>Team List</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Head Coach</th>
        <th>Won</th>
        <th>Lost</th>
        <th>Score</th>
        <th>Detail URL</th>
    </tr>
    <tr th:each="team : ${teams}">
        <td> <a th:href="@{/teams/{teamId}(teamId=${team.id})}" th:text="${team.name}">팀 이름</a></td>
        <td th:text="${team.headCoach}">감독</td>
        <td th:text="${team.won}">승 수</td>
        <td th:text="${team.lost}">패 수</td>
        <td th:text="${team.score}">득점</td>
        <td th:text="${team.detailUrl}">나무위키</td>
    </tr>
</table>

<div>
    <button th:onclick="|location.href='@{/teams/addTeamForm}'|">Add Team</button>
</div>

</body>
</html>
