<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team Detail</title>
</head>
<body>

<h1>Team Detail</h1>

<div>
    <p>Name: <span th:text="${team.name}"></span></p>
    <p>Head Coach: <span th:text="${team.headCoach}"></span></p>
    <p>Won: <span th:text="${team.won}"></span></p>
    <p>Lost: <span th:text="${team.lost}"></span></p>
    <p>Score: <span th:text="${team.score}"></span></p>
    <p>Detail URL: <span th:text="${team.detailUrl}"></span></p>
</div>

<h2>Assistant Coaches</h2>

<table>
    <tr>
        <th>Assistant Coach Name</th>
    </tr>
    <tr th:each="assistantCoach : ${assistantCoaches}">
        <td th:text="${assistantCoach.name}"></td>
    </tr>
</table>

</body>
</html>
