<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/detailsForm.css">
    <title>Player Detail</title>
</head>
<body>
<header>
    <a th:href="@{/admin/main}">Main</a>
</header>

<h1>Player Detail</h1>
<table>
    <tr>
        <th>ID</th>
        <td th:text="${player.id}"></td>
    </tr>
    <tr>
        <th>Name</th>
        <td th:text="${player.name}"></td>
    </tr>
    <tr>
        <th>Nickname</th>
        <td th:text="${player.nickname}"></td>
    </tr>
    <tr>
        <th>Position</th>
        <td th:text="${player.position}"></td>
    </tr>
    <tr>
        <th>Team</th>
        <td> <a th:href="@{/admin/teams/{teamId}(teamId=${player.team.id})}" th:text="${player.team.name}">팀 이름</a></td>
    </tr>
    <tr>
        <th>POG Point</th>
        <td th:text="${player.pogPoint}"></td>
    </tr>
    <tr>
        <th>Detail URL</th>
        <td><a th:href="${player.detailUrl}" th:target="_blank" th:text="Details"></a></td>
    </tr>
</table>

<div>
    <button th:onclick="|location.href='@{/admin/players}'|">Player List</button>
    <button th:onclick="|location.href='@{/admin/players/{playerId}/delete(playerId=${player.id})}'|">Delete Player</button>
    <button th:onclick="|location.href='@{/admin/players/{playerId}/updatePlayer(playerId=${player.id})}'|">Update Player</button>
</div>
</body>
</html>