<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Player List</title>
    <style>
        table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #444444;
            padding: 10px;
        }
    </style>
</head>
<body>
<header>
    <a th:href="@{/admin/main}">Main</a>
</header>

<h1>POG Rank</h1>


<table>
    <thead>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Nickname</th>
        <th>Position</th>
        <th>Team</th>
        <th>POG Point</th>
        <th>Detail URL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player, iterStat : ${players}">
        <td th:text="${iterStat.count}">순위</td>
        <td><a th:href="@{/admin/players/{playerId}(playerId=${player.id})}" th:text="${player.name}">선수 이름</a></td>
        <td><a th:href="@{/admin/players/{playerId}(playerId=${player.id})}" th:text="${player.nickname}">선수 닉네임</a></td>
        <td th:text="${player.position}">포지션</td>
        <td> <a th:href="@{/admin/teams/{teamId}(teamId=${player.team.id})}" th:text="${player.team.name}">팀 이름</a></td>
        <td th:text="${player.pogPoint}">POG</td>
        <td><a th:href="${player.detailUrl}" th:target="_blank" th:text="Details"></a></td>
    </tr>
    </tbody>
</table>

</body>
</html>